{% extends 'index.html' %}
{% block content %}
<h1>Posts</h1>
<a href='{% url "blog:create" %}'>Add post</a>

<div>
    {% for post in object_list %}
    <div class='post'>
        <div class='post-title'>
            {{ post.title }}
        </div>
        <div class='post-content'>
            <div class='post-options'>
                {{ post.created }} : {{ post.is_draft }}
            </div>
            {{ post.content }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
